---
title: 'About'
description: "Meet Nicky, the founder of DK Thai Massage. Learn about her journey from Thailand to Kilburn, and her passion for healing through authentic, therapeutic massage techniques."
preloadImg: '/assets/images/banners/banner3.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about/" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner3-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner3.webp">
        <img decoding="async" src="/assets/images/banners/banner3.jpg" alt="candles and oils" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/thai2-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/thai2.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/thai2.jpg" alt="owner" width="630" height="775">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">About DK Thai Massage</h2>
            <p class="cs-text">
                Nicky, the founder and principal therapist of DK Thai Massage, comes from the picturesque province of Phetchabun in lower northern Thailand. Her journey into massage therapy began with a profound personal experience of receiving a massage in Thailand, which inspired her to become a skilled massage therapist.
            </p>
            <p class="cs-text">
                Arriving in the UK in 2008, Nicky recognized the potential to help people find relief from pain and stress through the art of massage. She has worked as a therapist since arriving in the UK and has furthered her education both in the UK and in Thailand.
            </p>
            <p class="cs-text">
                At DK Thai Massage, Nicky believes in the body's natural ability to heal when given proper support. Her treatments are designed to facilitate this healing process, combining traditional Thai techniques with modern therapeutic approaches. She specializes in addressing issues such as lower back pain, sciatica, stress, and neck pain, tailoring her services to meet each client's unique needs.
            </p>
            <p class="cs-text">
                The name "DK" or "Dee Kaa" means "good" in Thai, reflecting Nicky's commitment to promoting goodness for both body and mind. As the sole therapist, she ensures consistent, high-quality care for every client. Nicky's approach goes beyond mere relaxation, focusing on therapeutic healing to promote long-term health and wellness.
            </p>
            <p class="cs-text">
                As DK Thai Massage continues to grow, Nicky remains dedicated to her original vision: helping people heal and discover their best selves through the power of massage. She invites you to experience the difference that skilled, caring massage therapy can make in your life.
            </p>
            <p class="cs-text">
                Visit Nicky at DK Thai Massage in Kilburn, London, and take the first step towards a more balanced, pain-free you.
            </p>
                                
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}