---
title: 'Massages'
description: 'Explore our range of massage services at DK Thai Massage. From deep tissue to Swedish, find the perfect treatment for your relaxation and healing needs in Kilburn.'
preloadImg: '/assets/images/banners/banner3.webp'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/waxing.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->
<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">Massages</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/massages/" class="cs-link cs-active">Massages</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner3-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner3.webp">
        <img decoding="async" src="/assets/images/banners/banner3.jpg" alt="candles and oils" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->
<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massages</span>
            <h2 class="cs-title">Unwind with Our Signature Massage Treatments</h2>
            <p class="cs-text">
                Our skilled therapists are committed to helping you relax, rejuvenate, and find relief from stress and tension. Whether you seek targeted relief or a pampering experience, we have the perfect massage for you.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->
<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">30 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Hot Stone Massage</span>
                        <span class="cs-price">£30</span>
                    </h3>
                    <p class="cs-menu-text">
                        Luxurious therapy combining warm, smooth stones with gentle pressure to melt away tension, improve circulation, and promote deep relaxation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Massage</span>
                        <span class="cs-price">£30</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense, focused massage targeting deeper layers of muscle and connective tissue to release chronic tension, knots, and adhesions for lasting relief.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£30</span>
                    </h3>
                    <p class="cs-menu-text">
                        Ancient healing with acupressure, stretching, and rhythmic compression to relieve tension and enhance energy flow.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Swedish Massage</span>
                        <span class="cs-price">£30</span>
                    </h3>
                    <p class="cs-menu-text">
                        Classic Western technique using long, flowing strokes, kneading, and circular movements to promote relaxation, ease muscle tension, and improve circulation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Head Massage</span>
                        <span class="cs-price">£30</span>
                    </h3>
                    <p class="cs-menu-text">
                        Soothing therapy concentrating on the head, neck, and shoulders to relieve tension headaches, promote mental clarity, and induce a state of calm.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Foot Massage</span>
                        <span class="cs-price">£30</span>
                    </h3>
                    <p class="cs-menu-text">
                        Rejuvenating treatment focusing on the feet and lower legs, using pressure points to reduce stress, improve circulation, and restore balance throughout the body.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/thai2.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/thai2.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/thai2.jpg" alt="thai massage" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->
<section id="pricing-r-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">45 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Hot Stone Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Luxurious therapy combining warm, smooth stones with gentle pressure to melt away tension, improve circulation, and promote deep relaxation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense, focused massage targeting deeper layers of muscle and connective tissue to release chronic tension, knots, and adhesions for lasting relief.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Ancient healing with acupressure, stretching, and rhythmic compression to relieve tension and enhance energy flow.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Swedish Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Classic Western technique using long, flowing strokes, kneading, and circular movements to promote relaxation, ease muscle tension, and improve circulation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Head Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Soothing therapy concentrating on the head, neck, and shoulders to relieve tension headaches, promote mental clarity, and induce a state of calm.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Foot Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Rejuvenating treatment focusing on the feet and lower legs, using pressure points to reduce stress, improve circulation, and restore balance throughout the body.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/deep-tissue.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/deep-tissue.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/deep-tissue.jpg" alt="deep tissue" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->
<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">60 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Hot Stone Massage</span>
                        <span class="cs-price">£60</span>
                    </h3>
                    <p class="cs-menu-text">
                        Luxurious therapy combining warm, smooth stones with gentle pressure to melt away tension, improve circulation, and promote deep relaxation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Full Body Massage</span>
                        <span class="cs-price">£60</span>
                    </h3>
                    <p class="cs-menu-text">
                        Comprehensive treatment addressing the entire body, using various techniques to reduce stress, alleviate pain, and restore overall balance and well-being.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Massage</span>
                        <span class="cs-price">£55</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense, focused massage targeting deeper layers of muscle and connective tissue to release chronic tension, knots, and adhesions for lasting relief.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£55</span>
                    </h3>
                    <p class="cs-menu-text">
                        Ancient healing with acupressure, stretching, and rhythmic compression to relieve tension and enhance energy flow.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Swedish Massage</span>
                        <span class="cs-price">£55</span>
                    </h3>
                    <p class="cs-menu-text">
                        Classic Western technique using long, flowing strokes, kneading, and circular movements to promote relaxation, ease muscle tension, and improve circulation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Head Massage</span>
                        <span class="cs-price">£55</span>
                    </h3>
                    <p class="cs-menu-text">
                        Soothing therapy concentrating on the head, neck, and shoulders to relieve tension headaches, promote mental clarity, and induce a state of calm.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Foot Massage</span>
                        <span class="cs-price">£55</span>
                    </h3>
                    <p class="cs-menu-text">
                        Rejuvenating treatment focusing on the feet and lower legs, using pressure points to reduce stress, improve circulation, and restore balance throughout the body.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/hot-stone2.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/hot-stone2.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/hot-stone2.jpg" alt="hot stone massage" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->
<section id="pricing-r-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">90 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Hot Stone Massage</span>
                        <span class="cs-price">£80</span>
                    </h3>
                    <p class="cs-menu-text">
                        Luxurious therapy combining warm, smooth stones with gentle pressure to melt away tension, improve circulation, and promote deep relaxation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Full Body Massage</span>
                        <span class="cs-price">£80</span>
                    </h3>
                    <p class="cs-menu-text">
                        Comprehensive treatment addressing the entire body, using various techniques to reduce stress, alleviate pain, and restore overall balance and well-being.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Massage</span>
                        <span class="cs-price">£80</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense, focused massage targeting deeper layers of muscle and connective tissue to release chronic tension, knots, and adhesions for lasting relief.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£80</span>
                    </h3>
                    <p class="cs-menu-text">
                        Ancient healing with acupressure, stretching, and rhythmic compression to relieve tension and enhance energy flow.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Swedish Massage</span>
                        <span class="cs-price">£80</span>
                    </h3>
                    <p class="cs-menu-text">
                        Classic Western technique using long, flowing strokes, kneading, and circular movements to promote relaxation, ease muscle tension, and improve circulation.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/face.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/face.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/face.jpg" alt="face massage" width="521" height="640">
        </picture>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}